  <h1>My recipes libarary</h1>
  <% if @bookmarks.any? %>
  <div class="show-container">
    <% @bookmarks.each do |bookmark| %>
    <div class="show-recipe-cards">
      <div class="show-recipe-body">
        <h2 class="show-recipe card-circle subtle">01</h2>
        <h3 class="show-card-title"><%= bookmark.recipe.title %></h3>
        <p class="show-card-description"><%= bookmark.recipe.description %></p>
      </div>
      <%= image_tag bookmark.recipe.image, :alt => "", class: "card-media" %>
    </div>
  <% end %>
  <% else %>
    <h2>You don't have any saved recipes.</h2>
<% end %>
</div>
