// Import page-specific CSS files here.
@import "home";

.justify-content-center {
  margin-top: 40px ;
}

.results-h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

// .index-cards-background {
//   background-color: #FDFBEA;
// }

.link-bookmark {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}


.index-search-bar {
  .select2-container--default .select2-selection--multiple {
    height: 6vh;
  }
}
