<div class="show-columns">

  <div class="show-column-left">
    <div class="show-column-left-img">
    </div>
    <div class="show-column-left-ingredients">
    </div>
    <div class="show-column-left-reviews">
    </div>
  </div>

  <div class="show-column-right">

    <div class="show-column-right-recipe-bio">
      <div class="show-column-right-recipe-bio">
        <div class="recipe-bio-tile-rating">
        </div>
        <div class="recipe-bio-tile-description">
        </div>
        <div class="recipe-bio-tile-time-diet">
        </div>
      </div>
    </div>

    <div class="show-column-right-instructions">
    </div>

    <div class="show-column-right-reviews-cards">
      <div class="show-column-right-review-card">
      </div>
      <div class="show-column-right-review-card">
      </div>
      <div class="show-column-right-review-card">
      </div>
    </div>

  </div>

</div>
<div class="show-you-also-like-cards">
</div>
