<%# BUTTON COMPONENTS %>
<head><link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"></head>

<button class="btn ghost how-it-works">How it Works</button>
<button class="btn ghost start-cooking">Start Cooking</button>
<button class="btn ghost get-started">Get Started</button>
<button class="btn ghost sign-up">Sign Up</button>
<button class="btn ghost log-in">Log In</button>
<button class="btn ghost submit-comment">Submit Comment</button>
<button class="circle-scroll">\/</button>

<%# CARD COMPONENTS %>
<div class="popular-recipes-home">
	 <article class="popular-recipes">
		<div class="popular-recipe-img">
			<img src="https://cdn.loveandlemons.com/wp-content/uploads/2021/07/cherry-tomato-pasta-1.jpg"  width="320" height="400">
		</div>
		<div class="recipe-content">
			<h2 class="popular-recipe-title"><a href="#">Gluten Free Pan Pizza</a></h2>
		</div>
	</article>
</div>
