<%# <div class="container"> %>

  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Discover new recipes, reduce food waste.</strong>!</h1>
      <p>Find the perfect recipe catered for you. Eat sustainably and eat the best</p>
      <button class="btn ghost how-it-works">How it Works</button>
    </div>
  </div>


  <div class="home-search-container">

    <div class="home-search-title">
      <h2>How it Works</h2>
      <p>Find recipes with ingredients that you have on hand</p>
    </div>

    <div class="home-search-bar">
      <%= simple_form_for :recipe, :url => recipes_path, method: :get do |f| %>
        <%= f.input :label %>
        <%= f.submit "Start cooking", class: "btn ghost start-cooking" %>
      <% end %>
    </div>

  </div>

  <div class="home-popular-recipes-cards-container">
    <h2>Popular Recipes</h2>
    <div class="container"></div>
    <div class="row">
      <div class="popular-recipes-card col-lg-2 mx-2 mb-2">
        <div class="popular-image-div">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2021/07/cherry-tomato-pasta-1.jpg" class="popular-recipe-image">
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title">Cherry Tomato Pasta</h2>
          </div>
      </div>
      <div class="popular-recipes-card col-lg-2 mx-2 mb-2">
          <div class="popular-image-div">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2018/08/IMG_13094-cropped.jpg" class="popular-recipe-image">
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title">Summer Asian Slaw</h2>
          </div>
      </div>
      <div class="popular-recipes-card col-lg-2 mx-2 mb-2">
          <div class="popular-image-div">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2015/08/IMG_2015_08_13_05677-cropped.jpg" class="popular-recipe-image">
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title">Portabello Mushroom Tacos</h2>
          </div>
      </div>
      <div class="popular-recipes-card col-lg-2 mx-2 mb-2">
          <div class="popular-image-div">
            <img src="https://cdn.loveandlemons.com/wp-content/uploads/2019/04/IMG_17224-cropped-1-580x732.jpg" class="popular-recipe-image">
          </div>
          <div class="recipe-content">
            <h2 class="popular-recipe-title">Falafel Flatbread</h2>
          </div>
      </div>
    </div>
</div>
