// BUTTON STYLING

.how-it-works {
  color: black;
  background-color: #e8c55a;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

.start-cooking {
  color: white;
  background-color: #578c62;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin-top: 25px;
}

.get-started {
  background-color: #e8c55a;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  height: 36px;
  width: 120px;
  font-size: 14px;
    a {
      color: black;
    }
}

.sign-up {
  color: white;
  background-color: #578c62;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
}

.log-in {
  border: 1px solid #85ac8d;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  height: 36px;
  width: 90px;
  margin-right: 12px;
  font-size: 14px;
      a {
      color: rgb(128, 128, 128);
    }
}

.submit-comment {
  color: black;
  background-color: #e8c55a;
  border: none;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  width: 650px;
  height: 35px;
}

.circle-scroll {
  background-color: #e8c55a;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-align: center;
}

.index-recipe-bookmark {
  margin-right: auto;
}
