.popular-recipes {
  width: 346px;
  height: 459px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.popular-recipe-img {
  padding: 10px 5px 10px 5px;
  border-radius: none;
}

.popular-recipe-title {
  color: black;
  text-decoration: none;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
