// POPULAR RECIPES CARD FOR HOMEPAGE //

.popular-recipes-card {
  width: 269px;
  height: 340px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.popular-image-div {
  display: flex;
  justify-content: center;
}

.popular-recipe-image {
  padding: 20px 10px 10px 10px;
  width: 220px;
  height: 300px;
}

.popular-recipe-title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

.popular-recipe-header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
// ------------------------------------------------------------------- //

// RECIPE CARDS FOR INDEX PAGE //

.index-recipes-card {
  width: 345px;
  height: 525px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.index-image-div {
  display: flex;
  justify-content: center;
}

.index-recipe-image {
  padding: 20px 10px 10px 10px;
  width: 320px;
  height: 400px;
}

.index-recipe-title {
  display: flex;
  justify-content: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: black;
  margin-left: 20px;
  text-decoration: none;
}

.index-recipe-desc {
  display: flex;
  justify-content: left;
  font-family: 'Bitter', serif;
  font-size: 14px;
  font-weight: 300;
  color: black;
  margin-left: 20px;
  text-decoration: none;
}
