// POPULAR RECIPES CARD FOR HOMEPAGE //

.popular-recipes-card {
  width: 314px;
  height: 400px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.popular-image-div {
  display: flex;
  justify-content: center;
}

.popular-recipe-image {
  padding: 20px 10px 10px 10px;
  width: 260px;
  height: 350px;
}

.popular-recipe-title {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}
// ------------------------------------------------------------------- //

// RECIPE CARDS FOR INDEX PAGE //

.index-recipes-card {
  width: 255px;
  height: 450px;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.index-image-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.index-recipe-image {
  width: 210px;
  height: 300px;
  // margin-top: 20px;
}

.recipe-content {
  margin: 0px 10px 10px 10px;
}

.index-recipe-title {
  display: flex;
  justify-content: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

.index-recipe-desc {
  display: flex;
  justify-content: left;
  font-family: 'Bitter', serif;
  font-size: 12px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

.link-bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-recipe-bookmark {
  font-size: 18px;
  color: black;
  margin: 0px;
}

a {
  display: flex;
  justify-content: left;
  font-family: 'Bitter', serif;
  font-size: 10px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4f65af;
}

// ------------------------------------------------------------------- //

// RECIPE CARDS FOR SHOW PAGE //
.show-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
}

.show-recipe-cards {
  background-color: #fff;
  height: 200px;
  width: 525px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.show-recipe-body {
  display: block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.show-card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  margin: 0px;
}

.show-card-description {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 10px;
}



.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  height: 160px;
}
